.movies-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.movie-display {
  display: flex;
  background-color: #202020; /* Dark background for the movie box */
  color: #fff;
  border-radius: 10px;
  margin-bottom: 20px;
  overflow: hidden;
  width: 80%;
  max-width: 800px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.5);
  align-items: center; /* Centers children vertically */
}

.movie-image {
  display: flex;
  align-items: center; /* Aligns the image vertically */
  justify-content: flex-start; /* Aligns the image to the start (left) */
  flex-shrink: 0;
  padding-left: 10px; /* Increased left padding to push image to the right */
  padding-right: 10px; /* Adjust right padding as needed */
  background-color: #202020;

}

.movie-poster {
  max-height: 300px; /* Adjust the height as needed */
  object-fit: contain; /* Ensures full image is shown, can be changed to 'cover' if needed */
  border-radius: 2px; /* Optional: if you want rounded corners for the image itself */
}


.movie-info {
  padding: 20px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.movie-title {
  font-size: 2rem;
  margin: 0;
  padding-bottom: 10px;
  border-bottom: 1px solid grey; /* Underline the title */
}

.movie-genre, .movie-duration, .movie-director, .movie-actors, .movie-plot {
  margin: 0.5rem 0;
  font-size: 1rem;
}

@media (max-width: 768px) {
  .movie-display {
    flex-direction: column;
  }


.movie-image {
  display: flex;
  align-items: center; /* Aligns the image vertically */
  justify-content: center; /* Aligns the image horizontally */
  flex-shrink: 0;
  padding: 10px; /* Adjust padding as needed */
  background-color: #000;
  border-radius: 10px 0 0 10px;
}

.movie-poster {
  max-height: 300px; /* Adjust the height as needed */
  width: auto; /* Adjust the width as needed, or remove if using height only */
  object-fit: contain; /* Ensures full image is shown */
}

.movie-info {
  padding: 20px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center; /* This will center the text block vertically */
}

  .movie-details {
    order: 2;
  }
}
