.search-container {
    display: flex;
    align-items: center; /* Aligns vertically */
    flex-direction: column;
    max-width: 500px;
    margin: 20px auto;
    padding: 5px;
    background: #141414;
    border-radius: 5px;
}

.search-input {
  padding: 10px;
  margin-right: 10px; /* Creates a little space between the input and the button */
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-button {
  padding: 10px;
  background-color: #333; /* Dark background for the button */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.error-message {
    color: red;
    margin-top: 10px;
}

.movie-container {
    display: flex;
    background-color: #333;
    color: white;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 20px;
}

.movie-poster {
    width: 150px; /* Adjust as needed */
    object-fit: cover; /* Keeps aspect ratio, but crops the image if needed */
}

.movie-details {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.movie-details h2 {
    margin: 0;
    color: #ffeb3b; /* Gold color for the title */
    font-size: 1.5rem;
}

.movie-details p {
    margin: 5px 0;
    font-size: 0.9rem;
}

/* You might need to adjust the breakpoints and sizes for responsiveness */
@media (max-width: 768px) {
    .search-input {
        width: calc(100% - 70px); /* Smaller button on mobile */
    }

    .search-button {
        width: 60px;
        font-size: 0.8rem;
    }

    .movie-container {
        flex-direction: column;
    }

    .movie-poster {
        width: 100%; /* Full width on mobile */
    }

    .movie-details {
        width: 100%; /* Full width on mobile */
        padding: 10px;
    }
}
